body {
    margin: 0px;
    background-color:rgb(240, 162, 27);
  }
  #box{
    position: absolute;
    font-size: 2vh;
    padding: 10px;
    text-align: center;
  }

button{
    border:5px thick white;
    background-color: transparent;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    
    cursor: pointer;
}